packages:
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.15.1
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.43.1
      prefix: /usr
  cmake:
    externals:
    - spec: cmake@3.20.4
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  curl:
    externals:
    - spec: curl@8.0.1+gssapi+ldap+nghttp2
      prefix: /usr
  cvs:
    externals:
    - spec: cvs@1.12.12
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.6
      prefix: /usr
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@4.2.1
      prefix: /usr
  gettext:
    externals:
    - spec: gettext@0.20.2
      prefix: /usr
  git:
    externals:
    - spec: git@2.35.3+tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.0.2
      prefix: /usr
  gmake:
    externals:
    - spec: gmake@4.2.1
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  libtool:
    externals:
    - spec: libtool@2.4.6
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
  mysql:
    buildable: False
    externals:
    - spec: mysql@8.0.31
      prefix: /p/app/projects/NEPTUNE/spack-stack/mysql-8.0.31
      modules:
      - mysql/8.0.31
  openssh:
    externals:
    - spec: openssh@8.4p1
      prefix: /usr
    - spec: openssh@9.8p1a
      prefix: /usr/local/krb5
  openssl:
    externals:
    - spec: openssl@1.1.1l-fips
      prefix: /usr
  perl:
    externals:
    - spec: perl@5.26.1~cpanm+opcode+open+shared+threads
      prefix: /usr
  pkg-config:
    externals:
    - spec: pkg-config@0.29.2
      prefix: /usr
  qt:
    buildable: False
    externals:
    - spec: qt@5.15.2
      prefix: /p/app/projects/NEPTUNE/spack-stack/qt-5.15.2/5.15.2/gcc_64
      modules:
      - qt/5.15.2
  sed:
    externals:
    - spec: sed@4.4
      prefix: /usr
  subversion:
    externals:
    - spec: subversion@1.14.1
      prefix: /usr
  swig:
    externals:
    - spec: swig@3.0.12
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.34
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@6.5
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.20.3
      prefix: /usr
