spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel', '%oneapi']
  - packages:
      - neptune-env +espc                           ^esmf@=8.8.0
      # Comment out for Cole and Tusk or any other air-gapped system:
      - neptune-python-env +xnrl ^neptune-env +espc ^esmf@=8.8.0

  specs:
    - matrix:
      - [$packages]
      - [$compilers]
      exclude:
      # Skip neptune-python-env with Intel Classic due to problems
      # with new versions of py-numpy, py-scipy, ...
      - neptune-python-env%intel
      # Same for LLVM compilers
      - neptune-python-env%clang
